[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish
[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/chaulagaisachin/hugo-theme-stack.git
